@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;

    color: hsl(245, 89%, 58%);
}

p:first-of-type {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 10px;
    letter-spacing: .01rem;
    color: hsl(39, 65%, 10%);
}

p:last-of-type {
    font-size: 1.3rem;
    font-weight: 400;
    color: hsl(323, 15%, 34%);
}

body {
    background-color: black;
}

.container {
    max-width: 960px;
    min-width: 800px;
    background-color: #343434;

    margin: auto;
    padding-top: 50px;
    height: 100vh;
}

.card {
    display: flex;
    background-color: hsl(0, 36%, 85%);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 300px;
    width: 800px;
    margin: auto;
    border-radius: 16px;
    overflow-y: hidden;
    margin-bottom: 50px;

}

.text-info {
    margin-left: 30px;
}


.card>img {
    width: 30%;
    background-color: #999999;
    height: 400px;
    background-size: 400px;
}

img:first-of-type {
    opacity: 90%;
}

/* (for desktop users) down to and including a width of 100rem: */
@media (min-width: 100rem) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: first baseline;
        gap: 100px;
    }

    body {
        background-color: #343434;
    }
}

/* (for mobile phone users) up to and including a width of 40rem: */
@media (max-width: 40rem) {
    .card {
        width: 300px;
        height: 400px;
    }

    .card>img {
        display: none;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        grid-template-rows: 1fr;
    }

    body {
        background-color: #343434;
    }
}